<div class="container vh-100">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"> <a routerLink="/main"><i class="bi bi-house-door-fill home "
            style="color: #6200EE;"></i></a></li>
      <span class="dot_icon"></span>
      <!-- <li class="breadcrumb-item"><a href="">Login</a></li> -->
      <li class="breadcrumb-item" aria-current="page"><a>User List</a></li>
    </ol>
  </nav>




  <div class="container-fluid my-4" id="container2">
    <div class="row">
      <div class="col">
        <div class="well span2">
          <h1 class="my-4 mx-3 heading">List of Employees</h1>
        </div>
      </div>


    </div>

    <div class="row mt-3 mb-4">
      <div class="col-12 table-responsive">
        <table class="table table-striped table-hover table-bordered  text-center table" >
          <thead>
            <tr >

              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Role</th>
              <th scope="col">Role Description</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let table of userList; ">

              <td>{{table.fullName}}</td>
              <td>{{table.email}}</td>
              <td>{{table.role[0].role}}</td>
              <td>{{table.role[0].roleDes}}</td>

            </tr>

          </tbody>
        </table>
      </div>


    </div>


  </div>

</div>