<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8 16A8 8 8 1 0 08 0a8 80 a 8 16zm7-9.471a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.3238.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.0213.992-4.99a.75.75 0 0 0-.01-1.05z"/> 
  </symbol>
  <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>


  </symbol>
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>

  </symbol>
</svg>

<div *ngIf="commService.showMsg"
     (mouseenter)="commService.stopMsgInterval()"
     (mouseleave)="commService.startMsgInterval()"
     style="position: fixed; z-index: 99999; width: 100%;">
  <div [ngClass]="['alert', 'd-flex', 'align-items-center', commService.alertClass]"
       style="border-radius: 0px; padding: 10px 10px;"
       role="alert">
    <svg class="bi flex-shrink-e me-2" width="24" height="24" role="img" aria-label="Info">
      <use [attr.xlink:href]="'#' + commService.alertIconId"/>
    </svg>
    <div>
      {{ commService.message }}
    </div>
  </div>
</div>
 

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
    <a class="navbar-brand mx-3">Employee Management System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/employeeList" routerLinkActive="active">Employee List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/userlist" routerLinkActive="active">User List</a>
        </li>
        
      </ul>

      <!-- logout button -->
      <div class="d-flex" >
       
        <button class="btn btn-primary" type="submit" (click)="login()">Login</button>
      <button class="btn btn-danger mx-3" type="submit">Logout</button>
      </div>
    </div>
  
</nav>
<router-outlet></router-outlet>