






.container-fluid{
    position: relative;
    margin-left: 2.5%;
    margin-top: 2%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #00000029;
    border-radius: 4px;
    opacity: 1;
    /* height: 90%;
    width: auto; */
}
#container1{
    position: relative;
    margin-top: 2%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #00000029;
    border-radius: 4px;
    opacity: 1;
    width: auto;
    height: auto;
}

#container2{
    position: relative;
    margin-top: 3%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #00000029;
    border-radius: 4px;
    opacity: 1;
    width: auto;
    
}




.btn{
    /* background: var(--main-variant) 0% 0% no-repeat padding-box; */
    background: #6200EE 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #e3e1e7;
    border-radius: 24px;
    height: 50px;
    width: 56%;
    color: #FFFFFF;
    opacity: 1;
    margin-top: 30px;
}
.table-head{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/v (--unnamed-line-spacing-20) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    position: relative;
    background-color: #6200EE;
    font: normal normal medium 16px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
}
#edit{
    margin-top: 2%;
    height: 38px;
    width: 90px;
    
}
#view{
    margin-top: 2%;
    height: 38px;
    width: 90px;
}
#delete{
    margin-top: 2%;
    height: 38px;
    width: 90px;
}
#submit{
    margin-left: 3%;
    margin-bottom: 3%;
    width: 109px;
    height: 48px;
}
#back{
    background: #ddd5dd;
    border-radius: 24px;
    width: 100px;
    border-style: none;
    height: 45px;
    opacity: 0.8;
    color: #525252;
    &:hover{
        background:#F0EEF0;
        color: #161616;
        opacity: 1;
        mix-blend-mode: normal;
    }

}