<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 mt-4">
          <form id="signupForm">
            <!-- Email input -->
            <div class="form-outline mb-2">
              <label class="form-label" >Full Name</label>
              <input type="email" id="signupEmail" class="form-control form-control-lg"
                placeholder="Enter your Full Name"[(ngModel)]="user.fullName"  style=" font: normal normal normal 16px Verdana;"[formControl]="name">
            </div>
            <div class="form-text mx-3 text-danger" *ngIf="name.hasError('invalidAlphabet') && (name.dirty || name.touched)">
              Only alphabetic characters and spaces are allowed
            </div>
            <div class="form-text mx-3 text-danger" *ngIf="name.hasError('required') && (name.dirty || name.touched)">
              Only alphabetic characters and spaces are allowed
            </div>
            <div class="form-outline mb-2">
              <label class="form-label" for="signupEmail">Email address</label>
              <input type="email" id="signupEmail" class="form-control form-control-lg"
                placeholder="Enter a valid email address" [(ngModel)]="user.email" style=" font: normal normal normal 16px Verdana;" [formControl]="email">
            </div>
            <div class="form-text text-danger" *ngIf="email.hasError('email') && (email.touched || email.dirty)">
              Invalid Email         
            </div>
            <div class="text-danger form-text" *ngIf="email.hasError('required') && (email.touched || email.dirty)">
              Field must be filled
            </div>
            <!-- Password input -->
            <div class="form-outline mb-2">
              <label class="form-label" for="signupPassword">Password</label>
              <input type="password" id="signupPassword" class="form-control form-control-lg"
                placeholder="Enter password"[(ngModel)]="user.password"   style=" font: normal normal normal 16px Verdana;" [formControl]="password">
            </div>
            <div class="text-danger form-text" *ngIf="password.hasError('required') && (password.touched || password.dirty)">
              Filed must be filled
            </div>
            <!-- Confirm Password input -->
            <div class="form-outline mb-2">
              <label class="form-label" for="confirmPassword">Confirm Password</label>
              <input type="password" id="confirmPassword" class="form-control form-control-lg"
                placeholder="Confirm password"[(ngModel)]="user.confirmPassword"  style=" font: normal normal normal 16px Verdana;"[formControl]="confirm">
            </div>  
            <div class="text-danger form-text" *ngIf="confirm.hasError('required') && (confirm.touched || confirm.dirty)">
              Filed must be filled
            </div>
            <!-- Signup button -->
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="button" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;"(click)="signup()">Sign Up</button>
              <p class="small fw-bold mt-2 pt-1 mb-0">Already have an account? <a routerLink="/login"
                  class="link-danger" >Login</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  